.formulario{
    display: flex;
    justify-content: center;
    margin: 80px 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #A975FF;
    
}

.formulario form {
    max-width: 80%;
    background-color: #F6F0FF;
    border-radius: 10px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    
}